html, body
{
	margin: 0px;
	padding: 0px;
}

#messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.message-other {
    font-family: sans-serif;
    background-color: #008cff;
    color: white;
    border-radius: 10px;
    max-width: 250px;
    padding: 10px;
    margin: 5px;
    word-break: break-all;
    align-self: flex-end;
}

.message {
    align-self: flex-start;
    background-color: #e5e5e5;
    color: black;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
}

#messageSend {
    flex-shrink: 1;

    background-color: #008cff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.messageForm {
    width: 100%;
    display: flex;
}

.usr {
    font-size: 10px;
}
#header {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background-color: #fcfcfc;
}
